* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 2rem;
  opacity: 0.8;
}

h2, p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
  font-size: 0.9rem;
}

h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
  font-size: 1rem;
}

main {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -30px;  
}
.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255,0.3));
  border-radius: 1.5rem;
  z-index: 1;
  backdrop-filter: blur(0.5rem);
  display: flex;
}
.circle1, .circle2{
  background: white;
  background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255,0.3));
  height: 15rem;
  width: 15rem;
  position: absolute;
  border-radius: 50%;
  
}

.circle1 {
  top: 1%;
  left: 11%;
}
.circle2 {
  bottom :1%;
  right :11%
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255,0.3));
  border-radius: 1.5rem;
}

.games {
  flex: 2;
}

.link {
  display: flex;

  padding: 1rem 5rem;
  align-items: center;
}

.link h2{
  padding: 0rem 2rem;
}

.pro {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 1.5rem;
  color: white;
  padding: 1rem;
  /* display: flex; */
  position: relative;
}

.controller-img {
  width: 30%;
}

.pro img{
  position: absolute;
  top: 10%;
  right: 10%;
}

.pro h2{
  width: 40%;
  color: white;
  font-weight: 600;
}

/*GAMES SECTION*/

.status {
    margin-bottom: 3rem;
    
}

.status input {
  background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255,0.3));
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem;
  width: 50%;
   
}

.games {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 4rem;
}

.card {
  display: flex;
  background: linear-gradient(to left top, rgba(255,255,255,0.7), rgba(255,255,255,0.5));
  border-radius: 1.5rem;
  margin: 1.5rem 0rem;
  padding: 1.5rem;
  box-shadow: 6px 6px 10px rgba(122, 122, 122, 0.2);
  justify-content: space-between;
}

.progress {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  width: 100%;
  height: 25%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden; 
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(226, 236, 236);
  position: absolute;
  left: 60%;
}

.games-img {
  width: 60px;
  height: 60px;
}

.avatar-img {
  border-radius: 50%;
  width: 22%;
}

.card-info {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.percentage {
  font-weight: bold;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  text-align: center;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  padding-bottom: 2rem;
  color: #3d5d77;
  font-family: 'Poppins', sans-serif;

}